body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#calculadora {
    background: #131212;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.botao-cinza {
    width: 60px;
    height: 60px;
    background-color: #343434;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botao-cinza:active {
    background-color: #616161;
}

.botao-cinza-claro {
    width: 60px;
    height: 60px;
    background-color: #A5A5A5;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botao-cinza-claro:active {
    background-color: #eeecec;
}

.botao-laranja {
    width: 60px;
    height: 60px;
    background-color: #FF9601;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botao-laranja:active {
    background-color: #f8d061;
}

.botao-zero {
    width: 100%;
    grid-column: span 2;
    height: 60px;
    background-color: #343434;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    cursor: pointer;
}

.botao-zero:active {
    background-color: #616161;
}

.display {
    width: 100%;
    height: 60px;
    background: #131212;
    color: white;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.botoesDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}